{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog!<h1/>
<p>Consulter la liste des articles en cliquant <a href="/blog">ici</a></p>
<p>Voulez-vous écrire un nouvel article? Cliquez<a href="/blog/new">ici</a></p>



{% endblock %}